<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/badshah.p/IdeaProjects/SeleniumFrameWork/src/test/java/org/testcases/HomePageTest.java">
        <classes>
            <class name="org.testcases.LoginPageTest"/>
            <class name="org.testcases.HomePageTest"/>
        </classes>
    </test>

</suite>